@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size: 3rem;
  color: #fff;
  font-family: "Emblema One", system-ui;
  filter: drop-shadow(0px 0px 4px #000);
}
.subtitle{
  font-family: "Emblema One", system-ui;
}
header,
ul {
  height: auto;
  width: 100%;
}
ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
li {
  list-style-type: none;
}
li > a{
  color: #000;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
  list-style-type: none;
}
li > a:hover{
text-decoration: underline;
}
