@mixin breakpoint($point) {
  @if $point == medium {
    @media (min-width: 600px) {
      @content;
    }
  }
  @if $point == large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}
//mixins fin
body {
  & header {
    height: auto;
    width: 100%;
    & .header__nav {
      height: auto;
      width: 100%;
       & .nav__ul {
        height: auto;
        width: 100%;
       }
      }
    }

  @include breakpoint(medium) {
    background-color: red;
    .nav__ul {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-evenly;
    }
  }
  @include breakpoint(large) {
    background-color: #888;
    .nav__ul {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-start;
        justify-content: space-evenly;
      }
  }
}
