#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*nav*/
ul {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
ul > li {
  height: auto;
  width: 5vw;
  list-style-type: none;
}
/*nav fin*/
/*contact*/
form{
  height: 25vh;
  width:100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.inpt__container{
  padding: 10px;
  height:5vh;
  width:50vw;
  border: 2px solid #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
input[type="text"]{
  height: 4vh;
  width: 5vw;
}
input[type="email"]{
  height: 4vh;
  width: 7vw;
}
.inpt__logo{
  font-size: 3rem;
}
/*contact fin*/
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
