/*mobile menu*/
.barrets__container {
  position: absolute;
  top: 12%;
  left: 70%;
  height: 4vh;
  width: 15vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
}
/*container parent des barre*/
.barrets__container:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 5px #fff);
}
/*barres*/
.barre {
  height: 5px;
  width: 12vw;
  background-color: #fff;
  border-radius: 10px;
}
/* mouvement des barres ajouter au javascript*/
.open__barre:nth-child(1) {
  transform: rotate(45deg) translateX(15px);
  transition: 0.3s ease;
}
.open__barre:nth-child(2) {
  visibility: hidden;
}
.open__barre:nth-child(3) {
  transform: rotate(-45deg) translateX(15px);
  transition: 0.3s ease;
}

.listview {
  display: flex;
}
