footer {
  margin-top: 10px;
  position: relative;
  bottom: 0;
  min-height: 10vh;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 5px #000;
}
.footer__signature {
  height: auto;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.footer__signature > small {
  font-family: var(--font-family-ftfmlTwo);
}
.footer__signature--txt {
  font-size: var(--font-size-ftszSmall);
  font-family: var(--font-family-ftfmlTwo);
}
.footer__txt--span {
  font-size: var(--font-size-ftszMedium);
  font-family: var(--font-family-ftfmlOne);
}
