/*Paramétrage design concernant le header →(header,titre principale,sous-titre et navbarre + animation)*/
header,
.header__nav,
.nav__list,
.nav__list--items {
  height: auto;
  width: 100%;
}
header {
  overflow: hidden;
}
.header__nav {
  margin-top: 10px;
  border-radius: 10px;
  background-color: #000;
  background-size: 30%;
  filter: drop-shadow(0px 0px 3px #000);
  border: 2px solid #fff;
  overflow: hidden;
}
.header__title {
  margin: 0;
  font-size: var(--font-size-ftszBig);
  font-family: var(--font-family-ftfmlOne);
  display: inline-block;
  white-space: nowrap;
  animation: AnimeTitle 1.5s ease normal forwards;
  background: url("../image/wallpapper2.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: overlay;
}
.header__subtitle {
  margin-left: 2vw;
  color: #fff;
  font-size: var(--font-size-ftszMedium);
  font-family: var(--font-family-ftfmlTwo);
}
.header__user--pannel {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-bottom: 5px;
  height: auto;
  width: auto;
  background: url("../image/wallpapper2.jpg") no-repeat 50% 50%;
  background-size: cover;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.user__pannel--list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 3px;
}
.user__pannel--item {
  list-style-type: none;
}
.user__pannel--item > a {
  color: #fff;
  text-decoration: none;
  font-family: var(--font-family-ftfmlTwo);
}
.user__pannel--item > a:hover {
  text-decoration: underline;
}
.user__pannel--separator {
  height: 2px;
  min-width: 15vw;
  max-width: 25vw;
  background-color: #fff;
  border: none;
}
cite {
  font-size: var(--font-size-ftszSmall);
  font-family: var(--font-family-ftfmlOne);
}
cite > span {
  font-family: var(--font-family-ftfmlTwo);
}
.header__nav,
.nav__list {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
}
.nav__list {
  display: none;
  padding: 0;
}
.nav__list--items {
  letter-spacing: 2px;
  margin-left: 5px;
  list-style-type: none;
}
.nav__list--items > a {
  text-decoration: none;
  font-family: var(--font-family-ftfmlTwo);
  color: #fff;
}
.nav__list--items > a:hover {
  transition: 0.3s ease;
  text-decoration: underline;
  letter-spacing: 5px;
}
.list__item--span {
  text-shadow: var(--text-shadow-txtShdw2);
  color: #fff;
  font-size: var(--font-size-ftszMedium);
  font-family: var(--font-family-ftfmlTwo);
}
/*petite animation du titre principale donc pour expliquer:↓
on démarre l'animation avec des valeurs vides l'opacité et la largeurs de l'éléments à 0 et le script arrive a 100% ("to")
 et génére une largeur à 100% avec une opacité a l'échelle de 1 donc 100% opac avec la bordure de couleurs noir qui vient s'ajouter
 et plus haut dans l'élément concerné on peut retrouver les paramètre d'animation... en l'occurence le delay, la durée , et l'itération*/

@keyframes AnimeTitle {
  from {
    opacity: 0;
    width: 0;
    border-bottom: 5px solid #000;
  }
  to {
    opacity: 1;
    width: 100%;
    border-bottom: 5px solid #000;
  }
}
