@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "variables.css";
@import "header.css";
@import "main.css";
@import "footer.css";
@import "forms.css";
@import "profilCard.css";
@import "addJsclass.css";
@import "desktop/laptop.css";
@import "desktop/desktop.css";

/*paramétrage du style globale, j'ai importer les autres feuilles de style dans le fichier css principale 
que j'ai fragmenter pour pouvoir mieux s'y retrouver en y ajoutant 2 typographie que j'ai importer de google font*/
html,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
