.wrapper__profil {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 50vh;
  width: 100%;
  background: var(--background-gradient);
}
.profil__container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-left: 15px;
  padding: 5px;
  height: auto;
  max-width: 25vw;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.profil__title {
  padding: 5px;
  height: auto;
  min-width: 15vw;
  backdrop-filter: blur(25px);
  border-bottom: 2px solid #fff;
}
.profil__title--h3 {
  font-family: var(--font-family-ftfmOne);
  font-size: var(--font-size-ftzMedium);
  color: #fff;
  text-shadow: var(--text-shadow-txtShdw);
  letter-spacing: 4px;
}
.profil__title--h4 {
  font-family: var(--font-family-ftfmOne);
  font-size: var(--font-size-ftzSmall);
  color: #fff;
  text-shadow: var(--text-shadow-txtShdw);
}
.profil__list {
  font-family: var(--font-family-ftfmOne);
  font-size: var(--font-size-ftzSmall);
  color: #fff;
}
.profil__list > h5 {
  font-family: var(--font-family-ftfmOne);
  font-size: var(--font-size-ftzSmall);
  color: #000;
  letter-spacing: 3px;
  border-bottom: 2px solid #fff;
}
.profil__list > p {
  word-spacing: 5px;
  letter-spacing: 1px;
}
.profil__list > p > i {
  color: #000;
}
