.wrapper__log {
  height: auto;
  width: 100%;
}
.retour__btn--login {
  margin-left: 100px;
  font-size: var(--font-size-ftzSmall);
  font-family: var(--font-family-ftfmOne);
  color: #000;
  text-decoration: none;
  text-shadow: var(--text-shadow-txtShdw);
  letter-spacing: 1px;
}
.retour__btn--login:hover {
  text-decoration: underline;
}
.form__login {
  margin: 25vh auto auto auto;
  height: 25vh;
  width: 50vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background: var(--background-gradient);
}
.form__login > label {
  font-size: var(--font-size-ftzSmall);
  font-family: var(--font-family-ftfmOne);
  color: #fff;
  border-bottom: 2px solid #fff;
  letter-spacing: 2px;
}
.form__login > input[type="submit"] {
  font-family: var(--font-family-ftfmTwo);
  text-align: center;
}
.form__login > input[type="submit"]:hover {
  transition: 0.2s ease;
  cursor: pointer;
  transform: scale(1.09);
  box-shadow: var(--box-shadow-drpShdw);
}
.form__login--ipt {
  height: 3vh;
  max-width: 12vw;
  border-radius: 10px;
  border: none;
}
/*converter form & fieldset & legend*/
.converter__field {
  text-align: center;
  min-height: 25vh;
  min-width: 50vw;
  border-radius: 10px;
}
.converter__legend {
  font-family: var(--font-family-ftfmOne);
  color: #fff;
  text-shadow: var(--text-shadow-txtShdw);
  font-size: var(--font-size-ftzMedium);
  letter-spacing: 1px;
  text-decoration: underline;
}
.converter__form {
  min-height: 25vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.converter__btnSwitcher {
  min-height: 6vh;
  width: 10vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-ftzMedium);
  border-radius: 10px;
  background: #fff;
  border: 1px solid #fff;
}
.converter__subcontainer > input[type="number"] {
  min-height: 3vh;
  background: transparent;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-size: var(--font-size-ftzSmall);
}
.converter__subcontainer > input[type="submit"] {
  min-height: 3vh;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
  color: #000;
  font-size: var(--font-size-ftzSmall);
}
.converter__subcontainer > input[type="submit"]:hover {
  color: #fff;
  border: 1px solid #000;
  box-shadow: var(--box-shadow-drpShdw);
  background: #000;
}
.converter__btnSwitcher:hover {
  color: #fff;
  border: 1px solid #000;
  box-shadow: var(--box-shadow-drpShdw);
  background-color: #000;
}
/*converter form & fieldset & legend  fin*/
