@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "header.css";
@import "main.css";
@import "footer.css";
@import "variable.css";
@import "form.css";
@import "profil.css";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
