@import "style.css";
:root {
  /*type de police*/
  --font-family-ftfmOne: "Bebas Neue", serif;
  --font-family-ftfmTwo: "Orbitron", serif;
  /*taille de la police*/
  --font-size-ftzSmall: 1.1rem;
  --font-size-ftzMedium: 1.7rem;
  --font-size-ftzBig: 2.9rem;
  /*effet d'ombrage*/
  --text-shadow-txtShdw: 0px 0px 5px #000;
  /*dégrader de couleur*/
  --background-gradient: radial-gradient(
    circle,
    rgba(213, 110, 110, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
